services:
  - type: web
    name: strapi
    runtime: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: "20.11.0"
      - key: NODE_OPTIONS
        value: "--max-old-space-size=2048"
      - key: NODE_ENV
        value: production
